
# node modules
node_modules

# environment variables
.env

# key codes to allow API user who requested permission to add to database or edit anything
keyCodes.js

# notes on what I still need to do
todo.txt